<div class="details-page">
  <div class="currency-form">
    <app-detailed-currency-form
      [default-from-currency]="detailsPageData.baseCurrency"
      [default-to-currency]="detailsPageData.toCurrency"
      [title]="baseCurrencyName + ' Details'" [formGroup]="exchangeForm"
      [currencies]="currenciesNames"
      [enabled]="detailsPageData.enabled"
      (onSubmit)="onSubmit()"
      (onChange)="onFormChange()"
    ></app-detailed-currency-form>
  </div>
  <div class="main-exchange-wrapper">
    <app-exchange-result
      [main-exchange]="detailsPageData.mainExchange?.toAmountString ?? detailsPageData.baseExchange?.toAmountString ?? ''"
      [base-exchange]="detailsPageData.baseExchange?.toAmountString ?? ''"
      [to-currency-short]="detailsPageData.toCurrency"
      [to-currency-full]="toCurrencyName"
      [base-currency-short]="detailsPageData.baseCurrency"
    ></app-exchange-result>
  </div>
  <div class="chart-container">
    <ng-template [ngIf]="detailsPageData.loading || detailsPageData.annualRatesLoading">
      <app-loading></app-loading>
    </ng-template>
    <ng-template [ngIf]="detailsPageData.annualRates.length > 0 && !detailsPageData.annualRatesLoading">
      <app-chart [chart-data]="detailsPageData.annualRates"></app-chart>
    </ng-template>
  </div>
</div>
