<header class="header">
  <a routerLink="/" class="logo-container">
    <i class="material-symbols-outlined logo">currency_exchange</i>
    <span class="title">Currency Exchanger</span>
  </a>
  <nav [attr.aria-expanded]="isMenuOpen" class="nav" [class.open]="isMenuOpen">
    <ul>
      <li *ngFor="let route of routes">
        <a [routerLink]="[route.path]" routerLinkActive="active-link">{{route.label}}</a>
      </li>
    </ul>
  </nav>
  <app-menu-button class="menu" (click)="isMenuOpen = !isMenuOpen" [open]="isMenuOpen"></app-menu-button>
</header>
