@use "../../../../assets/styles/index" as *;

.currency-input {
    @include text("headline1");
    padding-block: 24px;
    width: 100%;

    &::placeholder,
    &::-webkit-input-placeholder {
        color: darken(#dce0ec, 10%);
    }
}


.actions-container {
    @include row;
    justify-content: space-around;
    padding-block: 24px;

    .primary-button {
        @include card("primary");
        border-radius: 50%;
        width: 76px;
        min-width: 76px;
        padding: 20px;
        font-size: 32px;
        aspect-ratio: 1/1;

        .icon {
            font-size: inherit;
        }
    }

    .secondary-button {
        @include column(center);
        @include text("label2");
        gap: 12px;
        color: #bdc4d2;
        position: relative;

        .text {
            position: absolute;
            bottom: -26px;
        }

        .icon {
            @include card("primary-container");
            color: var(--color-on-surface);
            font-size: 24px;
            padding: 8px;
            width: 44px;
            min-width: 44px;
            border-radius: 50%;
            aspect-ratio: 1/1;
        }
    }
}
