<form [formGroup]="exchangeForm" (ngSubmit)="onSubmit()" class="currency-form">
  <input class="currency-input" type="number" min="1"
         placeholder="Enter amount"
         pattern="[0-9]"
         formControlName="amount">
  <fieldset [disabled]="!enabled? 'disabled': undefined">
    <app-currencies-selector [currencies]="currencies" [formGroup]="exchangeForm"></app-currencies-selector>
    <div class="actions-container">
      <app-icon-button label="Clear" label-placement="overlay" type="reset">
        <span class="icon material-symbols-outlined">clear_all</span>
      </app-icon-button>
      <app-icon-button
        color="primary" size="expanded"
        label="Clear" type="submit"
        label-placement="hidden"
      >
        <span class="material-symbols-outlined" style="font-size: 32px">done</span>
      </app-icon-button>
      <app-icon-button label="Details" label-placement="overlay" type="link">
        <span class="icon material-symbols-outlined">read_more</span>
      </app-icon-button>
    </div>
  </fieldset>

</form>
