<div class="currencies-selector" [formGroup]="formGroup">
  <select formControlName="from" [disabled]="direction==='uni'">
    <option *ngFor="let currency of currencies"
            [value]="currency"
            [defaultSelected]="currency === defaultFromCurrency"
    >
      {{currency}}
    </option>
  </select>
  <app-icon-button [disabled]="direction==='uni'" (click)="switchCurrencies()" color="none" type='button'>
    <span class="material-symbols-outlined">{{direction === "bi" ? "swap_horiz" : "trending_flat"}}</span>
  </app-icon-button>
  <select formControlName="to">
    <option *ngFor="let currency of currencies"
            [value]="currency"
            [defaultSelected]="currency === defaultToCurrency"
    >
      {{currency}}
    </option>
  </select>
</div>
