<div class="home-page">
  <ng-template [ngIf]="homePageData.loading">
    <app-loading></app-loading>
  </ng-template>
  <div class="currency-form">
    <app-currency-form [currencies]="currenciesNames" [enabled]="homePageData.enabled"
                       (onChange)="onFormChange()" [formGroup]="exchangeForm"
                       (onSubmit)="onSubmit()"></app-currency-form>
  </div>
  <div class="main-exchange-wrapper">
    <app-exchange-result
      [main-exchange]="homePageData.mainExchange?.toAmountString ?? homePageData.baseExchange?.toAmountString ?? ''"
      [base-exchange]="homePageData.baseExchange?.toAmountString ?? ''"
      [to-currency-short]="homePageData.toCurrency"
      [to-currency-full]="toCurrencyName"
      [base-currency-short]="homePageData.baseCurrency"
    ></app-exchange-result>
  </div>
  <ul class="frequent-exchanges-list">
    <li *ngFor="let currency of homePageData.frequentCurrencies; index as i">
      <p class="exchange-currencies">
        {{homePageData.baseCurrency}}/{{currency.shortName}}
      </p>
      <p class="exchange-value">
        {{
        homePageData.frequentExchanges[i]?.toAmountString ?? ""
        }}<span>{{currency.shortName}}</span>
      </p>
      <p class="exchange-difference">{{currency.fullName}}</p>
    </li>
  </ul>
</div>
