<div class="chart-container">
  <p class="x-label">X-Axis: Months</p>
  <p class="y-label">
    Y-Axis: Monthly Rate
  </p>
  <div class="chart"
       [style]="'grid-template-columns: repeat(' + (data.size + 1) + ', 1fr);'"
  >
    <div #chartItem class="x-item" *ngFor="let item of points; index as i">
      <p class="x-item-label">
        <span>{{item.label}}</span>
      </p>

      <div class="connecting-line"
           aria-expanded="true"
           [style]="item.line['hypotenuse']"
      ></div>
      <div class="connecting-line"
           aria-expanded="false"
           [style]="item.line['hypotenuse']"
      ></div>
      <div class="dot" [style]="'bottom: ' + item.percentage + '%;'"></div>
    </div>
  </div>
</div>
