@use "../../../../../assets/styles" as *;

.chart-container {
    --_label-height: 38px;
    --_label-margin: 32px;
    --_label-margin-y: 50px;
    --_label-column-height: calc(var(--_label-height) + var(--_label-margin));
    --_axis-width: 3px;
    --_dot-size: 3px;
    --_line-height: 3px;
    --_color-chart: var(--color-background);
    --_color-axis: var(--color-on-background);
    --_color-points-label: var(--color-on-background);
    --_color-dots: var(--color-primary);
    --_color-line: var(--color-primary);
    --_color-line-shadow: rgba(167, 192, 251, 0.1);

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--_label-column-height) var(--_axis-width) 1fr;
    grid-template-rows: 1fr var(--_axis-width) var(--_label-column-height);
    grid-template-areas:
        "y-label y-line chart"
        ". x-line x-line"
        ". x-label x-label";
    position: relative;

    &:before,
    &:after {
        content: "";
        background: var(--_color-axis);
        z-index: 3;
    }

    &:before {
        grid-area: y-line;
    }

    &:after {
        grid-area: x-line;
    }

    .x-label,
    .y-label {
        font-size: 18px;
        letter-spacing: 1.5px;
        padding-block: 8px;
        color: inherit;
    }

    .y-label {
        position: absolute;
        bottom: var(--_label-margin);
        left: 0;
        right: 0;
        width: calc(300px - var(--_label-column-height));
        text-align: center;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }

    .x-label {
        grid-area: x-label;
        text-align: center;
        margin-top: var(--_label-margin);
    }

    .chart {
        grid-area: chart;
    }
}

.chart {
    width: 100%;
    height: 100%;
    background: var(--_color-chart);
    display: grid;

    .x-item {
        position: relative;

        &:after {
            --_x-indicator-height: 5px;
            --_x-indicator-width: 2px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            content: "";
            position: absolute;
            bottom: calc(-1 * (var(--_x-indicator-height) + 2px));
            right: calc(-1 * (var(--_x-indicator-width) / 2));
            width: var(--_x-indicator-width);
            height: var(--_x-indicator-height);
            background: var(--_color-axis);
        }

        .y-item-label {
            position: absolute;
            left: -32px;
            @include text("label3");
            transform: scale(0.8);

            &[aria-hidden="true"] {
                display: none;
            }
        }

        .x-item-label {
            position: absolute;
            bottom: -26px;
            left: 0;
            text-align: center;
            right: -100%;
            color: var(--_color-points-label);

            span {
                transform: scale(0.8);
                @include text("label3");
                display: block;
                width: 50%;
                margin-inline: auto;
                overflow: hidden;
            }
        }

        .dot {
            position: absolute;
            width: var(--_dot-size);
            height: var(--_dot-size);
            border-radius: 50%;
            background: var(--_color-dots);
            right: calc(-1 * (var(--_dot-size) / 2));
        }

        .connecting-line {
            position: absolute;
            height: var(--_dot-size);
            width: var(--_dot-size);
            background: var(--_color-line);
            transform-origin: center left;
            bottom: 0;
            isolation: isolate;



            &[aria-expanded="false"] {
                z-index: 2;
            }

            &[aria-expanded="true"]:after {
                content: "";
                position: absolute;
                left: -1px;
                right: -1px;
                height: 0;
                top: var(--_dot-size);
                z-index: -1;
                mix-blend-mode: color-burn;
                background: linear-gradient(
                    0deg,
                    rgba(223, 228, 235, 0) 43%,
                    var(--_color-line-shadow) 100%
                );
            }
        }
    }
}
