<div class="chart-container">
  <p class="x-label">X-Axis: Months</p>
  <p class="y-label">
    Y-Axis: Monthly Rate
  </p>
  <div class="chart"
       [style]="'grid-template-columns: repeat(' + (data.size + 1) + ', 1fr);'"
  >
    <div #chartItem class="x-item" *ngFor="let item of points; index as i">

      <div class="y-item-label" *ngFor="let rangeItem of yRangeLabels" [attr.aria-hidden]="i!==0"
           [style]="rangeItem.style">
        {{rangeItem.label}}
      </div>

      <p class="x-item-label">
        <span>{{item.label}}</span>
      </p>

      <div *ngFor="let expanded of [true, false]" class="connecting-line"
           [attr.aria-expanded]="expanded"
           [style]="i > 0 ? item.line['hypotenuse']: undefined"
      ></div>

      <div class="dot" [style]="'bottom: ' + item.percentage + '%;'"></div>
    </div>
  </div>
</div>
